.about {
  max-width: 600px;
  margin: auto;
  margin-top: 2em;
}

p {
  line-height: 24px;
}

code {
  background: rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 2px;
  font-size: 0.9em;
}
