h1 {
  font-weight: normal;
  margin: 0;
}

nav {
  display: grid;
  place-items: center;
}

ul {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  list-style: none;
}

ul > li {
  display: inline;
}

a {
  color: grey;
}

a:link {
  text-decoration: none;
}

.is-active {
  color: lightseagreen;
  font-weight: bolder;
}
